.Contact {
    border: 2px solid white;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 20px;
    background-color: white;
    transition: 1s ease-in-out;
}
.Contact:hover {
    box-shadow: 3px 3px 3px 3px rgba(0,255,0,0.67);
}
.Contact a {
    text-decoration: none;
    color: black;
}
.Contact img {
    padding-left: 10px;
    width: 70px;
    border-radius: 100%;
    align-self: center;
}
.profile-contact {
    display: flex;
    justify-content: space-evenly;
}
.profile-contact p {
    font-weight: 600;
    font-size: 18px;
}